@charset "UTF-8";
body {
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font: 16px/1.2 'Noto Sans KR', dotom, sans-serif;
  letter-spacing: -1px;
  overflow-x: hidden
}
.sub-sec-header {
  width: 100%;
  height: 250px;
  padding: 0 100px;
  margin-bottom: 190px;
  position: relative;
  left: 0;
  top: 90px;
  background: url(/pp/img/sub-visual.jpg) no-repeat center center;
}
.sub-sec-header::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.sub-sec-header .sub-sec-tit {
  position: relative;
  z-index: 9;
  font-weight: 700;
  font-size: 60px;
  line-height: 150px;
  color: #fff;
}
.sub-sec-header .sub-route {
  display: flex;
  justify-content: end;
  position: relative;
  top: -90px;
  z-index: 9;
}
.sub-sec-header .sub-route li {
  position: relative;
  padding-right: 10px;
  font-size: 17px;
  color: #fff;
}
.sub-sec-header .sub-route li:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: #74b567;
  border-radius: 50%;
}
.sub-sec-header .sub-route li + li::before {
  content: ">";
  font-size: 15px;
  padding-right: 10px;
}
.sub-sec-header .sub-depth2 {
  display: flex;
  font-size: 19px;
  color: #ccc;
}
.sub-sec-header .sub-depth2 li {
  padding: 0 10px;
  position: relative;
  left: 0;
  bottom: 20px;
  z-index: 9;
}
.sub-sec-header .sub-depth2 li::after {
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 1px;
  background: #ccc;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.sub-sec-header .sub-depth2 li:first-child {
  font-weight: 600;
  color: #fff;
}
.sub-sec-header .sub-depth2 li:last-child::after {
  display: none;
}

@media screen and (max-width : 1200px) {
  .sub-sec-header {
    padding: 0 40px;
  }

}
@media screen and (max-width : 767px) {
  .sub-sec-header {
    margin-bottom: 140px;
  }
  .sub-sec-header .sub-sec-tit {
    margin-bottom: 20px;
  }
  .sub-sec-header .sub-route {
    display: none;
  }
  .sub-sec-header .sub-depth2 {
    font-size: 16px;
  }
  .sub-sec-header .sub-depth2 li {
    padding: 0 5px;
  }
}